In [43]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.naive_bayes import MultinomialNB
from sklearn.multiclass import OneVsRestClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
import nltk

In [44]:
resumeDataSet = pd.read_csv('resume_dataset.csv' ,encoding='utf-8')
resumeDataSet.head(10)

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
5  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
6  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
7  Data Science  Education Details \r\n B.Tech   Rayat and Bahr...
8  Data Science  Personal Skills â¢ Ability to quickly grasp t...
9  Data Science  Expertise â Data and Quantitative Analysis â...

In [45]:

resumeDataSet['cleaned_resume'] = ''
resumeDataSet.head()

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",

In [46]:
import re
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText
    
resumeDataSet['cleaned_resume'] = resumeDataSet.Resume.apply(lambda x: cleanResume(x).lower())

In [47]:
from sklearn.preprocessing import LabelEncoder
resumeDataSet['categorynames'] =resumeDataSet['Category']
var_mod = ['Category']
le = LabelEncoder()
for i in var_mod:
    resumeDataSet[i] = le.fit_transform(resumeDataSet[i])

In [48]:
def findcategory(p):
    for i in resumeDataSet['Category']:
        if i==p:
            predictedcategory=resumeDataSet['categorynames'][i]
            break
    return (predictedcategory)

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(resumeDataSet['cleaned_resume'], resumeDataSet['Category'], test_size=0.33, random_state=125)

In [50]:
resumeDataSet.head()

,Category,Resume,cleaned_resume,categorynames
0,6,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...,Data Science
1,6,Education Details \r\nMay 2013 to May 2017 B.E...,education details may 2013 to may 2017 b e uit...,Data Science
2,6,"Areas of Interest Deep Learning, Control Syste...",areas of interest deep learning control system...,Data Science
3,6,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...,Data Science
4,6,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...,Data Science

## CLASSIFIER

In [51]:
resumetext=["Full Stack Developer', 'developer', 'Developer', 'Programmer Analyst"]

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack

requiredText = resumeDataSet['cleaned_resume'].values
requiredTarget = resumeDataSet['Category'].values

word_vectorizer = TfidfVectorizer(
    sublinear_tf=True,
    stop_words='english',
    max_features=1500)
word_vectorizer.fit(requiredText)
WordFeatures = word_vectorizer.transform(requiredText)

sampleresume_v=word_vectorizer.transform(resumetext)
print ("Feature completed .....")

X_train,X_test,y_train,y_test = train_test_split(WordFeatures,requiredTarget,random_state=0, test_size=0.2)
print(X_train.shape)
print(X_test.shape)
sampleresume_v.shape

Feature completed .....
(135, 1500)
(34, 1500)

(1, 1500)

In [53]:
X_train

<135x1500 sparse matrix of type '<class 'numpy.float64'>'
	with 15319 stored elements in Compressed Sparse Row format>

In [54]:
from sklearn.metrics import accuracy_score

for i in resumeDataSet['Category']:
    if i==predictedvalue:
        predictedcategory=resumeDataSet['categorynames'][i]
        break
predictedcategory

In [55]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(X_train.toarray(),y_train)
gnbyp=gnb.predict(X_test.toarray())
p1=[]
for i in gnbyp:
    p1.append(findcategory(i))
p1=np.array(p1)
p2=[]
for i in y_test:
    p2.append(findcategory(i))
p2=np.array(p2)
from sklearn.metrics import classification_report
print("For Naive Bayes Classifier:")
print(classification_report(p2, p1))
print("accuracy",accuracy_score(p2, p1))

For Naive Bayes Classifier:
              precision    recall  f1-score   support

    Advocate       0.67      0.50      0.57         4
Data Science       0.65      0.79      0.71        14
          HR       0.79      0.69      0.73        16

    accuracy                           0.71        34
   macro avg       0.70      0.66      0.67        34
weighted avg       0.71      0.71      0.70        34

accuracy 0.7058823529411765

In [56]:
from sklearn.neighbors import KNeighborsClassifier
k=KNeighborsClassifier()
k.fit(X_train.toarray(),y_train)
kp=k.predict(X_test.toarray())
m1=[]
for i in kp:
    m1.append(findcategory(i))
m1=np.array(m1)
m2=[]
for i in y_test:
    m2.append(findcategory(i))
m2=np.array(m2)
from sklearn.metrics import classification_report
print("For KNeighbours Classifier:")
print(classification_report(m2, m1))
print("accuracy",accuracy_score(m2, m1))

For KNeighbours Classifier:
              precision    recall  f1-score   support

    Advocate       0.50      0.50      0.50         4
Data Science       0.71      0.86      0.77        14
          HR       0.92      0.75      0.83        16

    accuracy                           0.76        34
   macro avg       0.71      0.70      0.70        34
weighted avg       0.78      0.76      0.77        34

accuracy 0.7647058823529411

In [57]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB 
from mlxtend.classifier import StackingClassifier
import numpy as np
import warnings

warnings.simplefilter('ignore')

clf1 = KNeighborsClassifier(n_neighbors=1)
clf3 = GaussianNB()
lr = LogisticRegression()
sclf = StackingClassifier(classifiers=[clf1, clf3], 
                          meta_classifier=lr)
sclf.fit(X_train.toarray(),y_train)
sp=sclf.predict(X_test.toarray())
s1=[]
for i in sp:
    s1.append(findcategory(i))
s1=np.array(s1)
s2=[]
for i in y_test:
    s2.append(findcategory(i))
s2=np.array(s2)
print("For Stacking Classifier:")
print(classification_report(s2, s1))
print("accuracy",accuracy_score(s2, s1))

For Stacking Classifier:
              precision    recall  f1-score   support

    Advocate       0.67      0.50      0.57         4
Data Science       1.00      0.71      0.83        14
          HR       0.71      0.94      0.81        16

    accuracy                           0.79        34
   macro avg       0.79      0.72      0.74        34
weighted avg       0.83      0.79      0.79        34

accuracy 0.7941176470588235